@inherits FlowbiteComponentBase

@if (!string.IsNullOrEmpty(Href))
{
    <a href="@Href" class="@CombineClasses("flex items-center space-x-3 rtl:space-x-reverse")">
        @ChildContent
    </a>
}
else
{
    <div class="@CombineClasses("flex items-center space-x-3 rtl:space-x-reverse")">
        @ChildContent
    </div>
}
