@inherits FlowbiteComponentBase

<nav class="@NavbarClasses" @attributes="AdditionalAttributes">
    <div class="@ContainerClasses">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
</nav>
