@inherits FlowbiteComponentBase

<div class="@CombineClasses(GetHeightClass(), "animate-pulse bg-gray-300 rounded-full dark:bg-gray-700", GetWidthClass(), MarginBottom, Class)" @attributes="AdditionalAttributes"></div>
